.container {
    margin: 50px 0;
    display: flex;
    text-align: center;
}

.card {
    margin: 3% 3% !important;
}

.infected {
    background-color: lightblue !important;
    border-bottom: 10px solid blue;
    border-radius: 8px !important;
}

.recovered {
    background-color: lightgreen !important;
    border-bottom: 10px solid green;
    border-radius: 8px !important;
}

.deaths {
    background-color: pink !important;
    border-bottom: 10px solid red;
    border-radius: 8px !important;
}

.head {
    margin-bottom: 20px !important;
    color: maroon !important;
}

.p {
    font-size: 90% !important;
    margin-top: 20px !important;
    font-weight: bold !important;
    color: rgb(105, 69, 2) !important;
}

@media only screen and (max-width: 700px) {
    .container {
        display: flex !important;
        flex-direction: column !important;
    }
    .card {
        width: 100%;
    }
}