.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.name {
    color: yellow;
}